<li class="quests-lists">
  <h3>
    <span class="glyphicon glyphicon-off" aria-hidden="true" style="color:#2BFF00"></span>
    <%= link_to quest.name, quest_path(quest) %>
  </h3>
</li>
<ul id="quest-missions-<%= quest.id %>">
  <% quest.missions.order(description: :asc).each do |mission| %>
    <%= render "missions/mission", mission:mission %>
  <% end %>
</ul>
<div class="new-mission">
  <%= link_to "Add a Mission", new_quest_mission_path(quest), class: "btn btn-primary", id:"new_mission_button_#{quest.id}", remote: true %>
</div>
