<div class="quests">
  <div class="container-fluid", id="profile">
    <%= image_tag @user.avatar.url(:medium), class:"round-image-100" %>
    <h1>
      <b><%= @user.username %></b>
    </h1>
    <h3>Current Level:</h3>
  </div>
  <hr>
  <div class="container-fluid">
    <%= link_to "Add a Quest", new_user_quest_path(@user), class:"btn btn-success btn-lg pull-right", id: "new_quest_button", remote: true %>
    <span class="new_quest_form"></span>
  </div>
  <div class="container-fluid"
    <ul style="list-style:none", id="user_quests">
      <% @quests.each do |quest| %>
        <%= render quest %>
      <% end %>
    </ul>
  </div>
</div>
