<div class="quests">
  <div class="container-fluid">
    <% if @quests.any? %>
      <%= link_to "Add a Quest", new_user_quest_path(@user), class:"btn btn-success btn-lg pull-right", id: "new_quest_button", remote: true %>
    <% else %>
      <%= link_to "Add a Quest", new_user_quest_path(@user), class: "btn btn-success btn-lg", id: "new_quest_button", remote: true %>
    <% end %>
  </div>
  <div class="container-fluid"
    <ul style="list-style:none", id="user-quests">
      <% @quests.each do |quest| %>
        <%= render quest %>
      <% end %>
    </ul>
  </div>
</div>
