<div class="container-fluid", id="profile">
  <%= image_tag @user.avatar.url(:medium), class:"round-image-250" %>
  <h1>
    <b><%= @user.username %></b>
  </h1>
  <h3>Current Level:</h3>
</div>
<hr>
<h4>Progress to next Level</h4>
<h4>Most recently completed mission</h4>
<h4>Add Quest</h4>
