<div class="home">
  <h1>Welcome to Level Up!!</h1>
  <hr>
  <h4>Have you ever wished your life was as amazing as that of your favorite superhero or video game character? Well Level Up is here to help you transform your life into an epic quest, starring YOU as the hero!<br><br><b>ARE YOU READY?</b></h4>
</div>
<div class="text-center", id="home_buttons">
  <% if user_signed_in? %>
    <%= link_to "Your Dashboard", user_path(current_user), class: "btn btn-primary btn-lg" %>
  <% else %>
    <%= link_to "Press START...", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
<h5 class="text-center", style="margin:24px 300px 0px 300px;line-height:150%">Want to learn more about turning your life into an epic quest? <%= link_to "Click Here", resources_path %></h5>
