/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  font-family: 'Press Start 2P', cursive;
  color: #D4D4D4;
  background-color: #222222;
}

a {
  color: #2BFF00;
  &:hover {
    color: #222222;
    background-color: #2BFF00;
  }
}

.home {
  margin: auto;
  padding: 25px 75px 10px 75px;
  & h1 {
    color: #3B8DD4;
    text-align: center;
  }
  & h4 {
    display: inline-block;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
  }
}

#home-buttons {
  margin: auto;
}

.quests {
  margin: auto;
  padding: 25px 75px 25px 75px;
  line-height: 150%;
}

span.glyphicon {
  vertical-align: middle;
  margin-bottom: 13px;
}

.new-mission {
  margin: auto;
  padding: 10px 75px 10px 75px;
  line-height: 150%;
}

.missions-list {
  margin-left: 25px;
  line-height: 200%;
}

#profile {
  margin: auto;
  padding: 25px 75px 25px 75px;
  text-align: center;
  line-height: 150%;
}

.round-image-250 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 75px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    height: 250px;
    width: 250px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

#shared_links {
  padding: 1px 1px 1px 1px;
}

.navbar-inverse .navbar-brand {
  color: #B5B5B5;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #FFF;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #B5B5B5;
}
.navbar-inverse .navbar-nav > li > a {
  color: #B5B5B5;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: transparent;
}

.btn-success {
  color: #FFF;
  background-color: #00CF22;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #FFF;
  background-color: #449D44;
  border-color: #255625;
}
.btn-success:hover {
  color: #FFF;
  background-color: #00AB1C;
  border-color: #398439;
}
.btn-primary {
  color: #FFF;
  background-color: #3B8DD4;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #FFF;
  background-color: #2F70A9;
  border-color: #122B40;
}
.btn-primary:hover {
  color: #FFF;
  background-color: #2F70A9;
  border-color: #204D74;
}
.btn-default {
  color: #222222;
  background-color: #D4D4D4;
  border-color: #CCC;
}
.btn-default:focus,
.btn-default.focus {
  color: #222222;
  background-color: #949494;
  border-color: #8C8C8C;
}
.btn-default:hover {
  color: #222222;
  background-color: #949494;
  border-color: #7F7F7F;
}

.progress-bar-success {
  background-color: #00CF22;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
